<ion-content [fullscreen]="true">
  <app-header></app-header>
  <!-- List -->
  <div class="exercise-routine-list">
    <!-- Item -->
    <div class="exercise-routine" *ngFor="let routine of routines" (click)="toggleOptions(routine.id_routine)">
      <ion-label>
        <p class="exercise-routine-text">
          {{routine.routine_name}}
        </p>
      </ion-label>
      <!-- Buttons -->

      <ion-buttons class="exercise-routine-icons" slot="end">
        <ion-icon name="create" class="exercise-routine-icon edit"
          (click)="navigateToRoutine(routine.id_routine)"></ion-icon>
        <ion-icon name="trash" class="exercise-routine-icon delete"
          (click)="deleteRoutine(routine.id_routine)"></ion-icon>
      </ion-buttons>
    </div>

    <div class="exercise-routine-add" (click)="navigateToRoutine()">
      <ion-icon name="add-circle-outline" size="large"></ion-icon>
    </div>
  </div>

  <ion-list [inset]="true">
    <div class="card-container" *ngFor="let exercise of exercises">
      <img src="../../assets/images/exercise.png" alt={alt} class="card-image" />
      <p class="card-text">{{exercise.exercise_name}}</p>
    </div>
  </ion-list>

</ion-content>