<app-header></app-header>

<ion-content>
  <div class="return-container" (click)="navigateBack()">
    <ion-icon name="arrow-back"></ion-icon>
    <p class="return-text">Return</p>
  </div>


  <div class="routine-container">
    <div class="routine-info-container">
      <div class="routine-info-header">
        <ion-input [(ngModel)]="routine.routine_name" class="routine-info-title"></ion-input>
        <ion-icon name="save" class="routine-icon save" (click)="saveRoutine()"></ion-icon>
      </div>
      <ion-textarea [(ngModel)]="routine.description" class="routine-info-textarea"></ion-textarea>
    </div>


    <!-- Exercises From Routine -->
    <div class="routine-list-container" *ngIf="exercises && exercises.length > 0; else noExercises">

      <!-- Exercise -->
      <div class="routine-card" *ngFor="let exercise of exercises">
        <img src="../../assets/images/exercise.png" alt="Exercise icon" class="routine-card-image" />

        <div class="routine-card-info">
          <div class="routine-card-header">
            <p class="routine-card-text">
              {{ exercise.exercise_name }}
            </p>
            <ion-icon name="trash" class="routine-icon delete"
              (click)="handleRemoveTempExercise(exercise.id_exercise)"></ion-icon>
          </div>

        </div>
      </div>
    </div>

    <ng-template #noExercises>
      <p>No exercises found for this routine.</p>
    </ng-template>

    <div class="routine-add-card" (click)="handleAddExercise()">
      <ion-icon name="add" size="large"></ion-icon>
    </div>
  </div>
</ion-content>